<div class="row border-bottom">
    <div class="col-lg-10">
        <h1>{{ 'SETTINGS' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
    <div class="col-lg-2 m-t-md">
        <button ng-if="settings.user.status == 'ACTIVE'" ng-click="deactivate()" type="button" class="btn btn-danger pull-right">{{ 'BUTTON_DISABLE' | translate }}</button>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
	   <div class="row">
	       <div class="col-lg-12">
                <div class="form-group p-xs" style="padding-top: 0px; padding-bottom: 0px;">
                    <h3>{{ 'HEADER_PERSONAL_DATA' | translate }}</h3><hr style="margin-top: 0px; margin-bottom: 0px;">                 
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_FIRST_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.firstName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.firstName.$valid }"></i></span>
                        </label>
                        <input ng-model="settings.user.firstName" type="text" class="form-control ff-form-control" name="firstName" ng-required="true" maxlength="128" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_LAST_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.lastName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.lastName.$valid }"></i></span>
                        </label>
                        <input ng-model="settings.user.lastName" type="text" class="form-control ff-form-control" name="lastName" ng-required="true" maxlength="128" />
                    </div>
                </div>
	       </div>
	   </div>
	   <div class="row">
           <div class="col-lg-12">
                <div class="form-group p-xs" style="padding-top: 0px; padding-bottom: 0px;">
                    <h3>{{ 'HEADER_EMAIL' | translate }}</h3><hr style="margin-top: 0px; margin-bottom: 0px;">                 
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_EMAIL' | translate }}</label>
                        <input ng-model="settings.user.email" type="email" class="form-control ff-form-control" style="background: #fafafa;" name="email" ng-disabled="true" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_EMAIL2' | translate }}</label>
                        <input ng-model="settings.user.email2" type="email" class="form-control ff-form-control" name="email2" />
                    </div>
                </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
                <div class="form-group p-xs" style="padding-top: 0px; padding-bottom: 0px;">
                    <h3>{{ 'HEADER_CHANGE_PASSWORD' | translate }}</h3><hr style="margin-top: 0px; margin-bottom: 0px;">                 
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_NEW_PASSWORD' | translate }}
                            <span class="pull-right"><i ng-if="settings.user.password.length > 0" style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.password.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.password.$valid }"></i></span>
                        </label>
                        <input ng-model="settings.user.password" type="password" class="form-control ff-form-control" name="password" ng-required="settings.user.password.length > 0" maxlength="128" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_CONFIRM_PASSWORD' | translate }}
                            <span class="pull-right"><i ng-if="settings.user.password.length > 0" style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle ff-invalid' : form.confirmPassword.$invalid || (settings.user.confirmPassword.length > 0 && settings.user.password != settings.user.confirmPassword), 'fa fa-check-circle ff-valid' : form.confirmPassword.$valid && (settings.user.confirmPassword.length > 0 && settings.user.password == settings.user.confirmPassword) }"></i></span>
                        </label>
                        <input ng-model="settings.user.confirmPassword" type="password" class="form-control ff-form-control" name="confirmPassword" ng-required="settings.user.password.length > 0" maxlength="128" />
                    </div>
                </div>
           </div>
       </div>
       <div class="row" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary">{{ 'BUTTON_SAVE' | translate }}</button>
        </div>
    </div>
	</form>
</div>