<div class="row border-bottom">
    <div class="col-lg-10">
        <h1>{{ 'REGISTRATION' | translate }}</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
		<div class="row">
			<div class="col-lg-12">
				<div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_FIRST_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.firstName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.firstName.$valid }"></i></span>
                        </label>
                        <input ng-model="user.firstName" type="text" class="form-control ff-form-control" name="firstName" ng-required="true" maxlength="128" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_LAST_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.lastName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.lastName.$valid }"></i></span>
                        </label>
                        <input ng-model="user.lastName" type="text" class="form-control ff-form-control" name="lastName" ng-required="true" maxlength="128" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">E-mail
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.email.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.email.$valid }"></i></span>
                        </label>
                        <input ng-model="user.email" type="text" class="form-control ff-form-control" name="email" ng-required="true" maxlength="255" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_PASSWORD' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.password.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.password.$valid }"></i></span>
                        </label>
                        <input ng-model="user.password" type="password" class="form-control ff-form-control" name="password" ng-required="true" maxlength="128" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_CONFIRM_PASSWORD' | translate }}
                            <span class="pull-right"><i ng-if="user.password.length > 0" style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle ff-invalid' : form.confirmPassword.$invalid || (user.confirmPassword.length > 0 && user.password != user.confirmPassword), 'fa fa-check-circle ff-valid' : form.confirmPassword.$valid && (user.confirmPassword.length > 0 && user.password == user.confirmPassword) }"></i></span>
                        </label>
                        <input ng-model="user.confirmPassword" type="password" class="form-control ff-form-control" name="confirmPassword" ng-required="user.password.length > 0" maxlength="128" />
                    </div>
                </div>
			</div>
		</div>
		<div class="row" style="border-top: solid 1px #f0f0f0;">
			<div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
				<button ladda="saving" ng-click="register()" ng-disabled="form.$invalid || (user.password != user.confirmPassword)" class="btn btn-primary">{{ 'BUTTON_REGISTER' | translate }}</button>
			</div>
		</div>
	</form>
</div>