@font-face {
    font-family: unicredit-regular;
    src: url(font/unicredit-regular-webfont.ttf) format("truetype"), url(font/unicredit-regular-webfont.eot) format("embedded-opentype");
}

@font-face {
    font-family: unicredit-light;
    src: url(font/unicredit-light-webfont.ttf) format("truetype"), url(font/unicredit-light-webfont.eot) format("embedded-opentype");
}

@font-face {
    font-family: unicredit-bold;
    src: url(font/unicredit-bold-webfont.ttf) format("truetype"), url(font/unicredit-bold-webfont.eot) format("embedded-opentype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: unicredit-bold;
}

/* =============================== */
/* ====== T O P N A V B A R ====== */
/* =============================== */   
.ff-logo {
    background: url(logo.svg) no-repeat center center;
    background-size: 100%;
    width: 220px;
    height: 41px;
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
    opacity: 1.0;
}

.nav.navbar-right {
    font-family: unicredit-regular;
    text-transform: uppercase;
}

.nav.navbar-right>li>label {
    color: #333;
    padding: 12px 20px;
    margin-bottom: none;
    font-size: 16px;
}

.nav>li>a {
    color: #fff;
    font-size: 16px;
    font-family: unicredit-regular;
    text-transform: uppercase;
    padding: 20px 20px 20px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-fixed-top, .navbar-static-top {
    background-color: #fff;
}

.top-navigation.fixed-nav #wrapper, .fixed-nav #wrapper.top-navigation{
    margin-top: 0px !important;
}

.top-navigation .wrapper.wrapper-content {
    padding: 20px 10px 40px !important;
}

.top-navigation .nav>li>a {
    color: #333;
}

.top-navigation .nav>li a:hover, .top-navigation .nav>li a:focus {
    color: #00afd0;
}

.top-navigation .nav>li.active>a {
    color: #00afd0;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border: none;
}

.top-navigation .navbar-nav .open .dropdown-menu>li>a {
    font-size: 12px;
    font-family: unicredit-bold;
    text-transform: uppercase;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 1px;
}

.top-navigation .navbar-nav .dropdown-menu>.active>a {
    color: #00afd0;
}

/* =========================== */
/* ====== G E N E R A L ====== */
/* =========================== */
.btn-white {
    font-family: unicredit-regular !important;
}

.btn-primary {
    background-color: #00afd0 !important;
    border-color: #00afd0 !important;
    font-family: unicredit-regular !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #00afd0 !important;
    border-color: #00afd0 !important;
    opacity: 0.9 !important;
}

.fa {
    color: #666;
}

.fa:hover {
    color: #333;
}

.ui-grid-header-cell-label {
    color: #555;
}

.badge {
    font-family: unicredit-regular !important;
    font-size: 12px;
}

.ff-postscript {
    font-family: unicredit-regular !important;
    font-size: 12px;    
}

.grid-msg-overlay {
    font-family: unicredit-regular !important;
}

.glyphicon {
    color: #707070 !important;
    font-weight: normal !important;
}

.contact-form .ff-label{
    background: transparent;
    font-family: unicredit-bold;
    font-size: 14px;
    padding-left: 0;
}

.contact-form  input[type=email], .contact-form input[type=search], .contact-form input[type=text], .contact-form input[type=tel], .contact-form input[type=number], .contact-forminput[type=password]{
    display: block;
    width: 100%;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0 12px;
    height: 50px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    -webkit-font-smoothing: initial;
    box-shadow: none;
}

.contact-form .form-control:focus, .single-line:focus{
    border-color: #00afd0 !important;
}

.contact-form input[type=email]:focus, .contact-form input[type=search]:focus, .contact-form input[type=text]:focus, .contact-form input[type=tel]:focus, .contact-form input[type=number]:focus, .contact-form input[type=password]:focus{
    outline: 0;
    border-color: #00afd0 !important;
}

.contact-form textarea {
    font-size: 16px;
    font-weight: 400;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 16px;
    background: #fff;
    resize: vertical;
    border-radius: 5px;
    -webkit-font-smoothing: initial;
}

.contact-form .chosen-single{
    display: block;
    width: 100%;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    background-color: #fff;
    height: 50px !important;
    line-height: 50px;
    padding: 0 12px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

.contact-form .chosen-container-single .chosen-single div b{
    background-position: 0px 14px;
}