<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ tender.name }}</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<img class="m-b-md" ng-show="tender.image.base64" ng-src="data:image/JPEG;base64,{{tender.image.base64}}" width="320">
			<div ng-bind-html="toTrusted(tender.text)" />
			
            <div class="form-group" ng-repeat="item in tender.items" ng-if="item.summaryItem && item.valueMapped">
                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                    <label class="ff-label">{{ item.text }} <sup ng-if="item.help"><i class="fa fa-question-circle fa-lg" role="button" uib-popover-html="toTrusted(item.help)" popover-append-to-body="true" popover-placement="bottom" popover-trigger="outsideClick"></i></sup></label>
                   
                    <div style="padding-left: 10px;" ng-if="item.type == 'TEXT' || item.type == 'TEXT_AREA'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'NUMBER'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'CURRENCY'" class="ff-value">{{ item.valueMapped | currency : "" }} <span ng-if="item.valueMapped">{{ item.currency.code }}</span></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'PERCENTAGE'" class="ff-value">{{ item.valueMapped }}<span ng-if="item.valueMapped">%</span></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'RADIO'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'CHECKBOX'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'DATE'" class="ff-value">{{ item.valueMapped | date:dateFormat }}</div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'SELECT'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'MULTISELECT'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'HYPERLINK'" class="ff-value"><a href="{{ item.valueMapped }}" target="_blank">{{ item.valueMapped }}</a></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'SUBDIVISIONS1'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                    <div style="padding-left: 10px;" ng-if="item.type == 'SUBDIVISIONS2'" class="ff-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                </div>
            </div>

		</div>
	</div>
	
	<div class="row m-t-md">
		<div class="col-lg-12">
			<div style="text-align: right;">
				<small>{{ 'LABEL_LAST_MODIFIED' | translate }}: {{ tender.lastModifiedDate | date : dateTimeFormat }}</small>
			</div>
		</div>
	</div>
	
	<div class="row m-t-sm" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white">{{ 'BUTTON_BACK' | translate }}</button>
        </div>
    </div>
</div>