<style>
p span {
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}
</style>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_TENDERS' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div masonry masonry-options="{ transitionDuration: '0.75s' }" preserve-order>
        <div ng-if="tenders.length == 0">
            <h4>{{ 'LABEL_NO_MATCHING_TENDERS' | translate }}</h4>
        </div>
        <div class="masonry-brick ff-masonry-brick" ng-repeat="tender in tenders">
            <h5 class="p-xs ff-masonry-brick-title" style="margin-bottom: 5px;">
                <a class="ff-a" ui-sref="tenders.details({ id: tender.id })">{{tender.name}}</a>
            </h5>
            <a ui-sref="tenders.details({ id: tender.id })">
                <img class="img-rounded ff-masonry-brick-img" ng-show="tender.image.base64" ng-src="data:image/JPEG;base64,{{tender.image.base64}}" width="100%">
            </a>
            <p style="margin-bottom: 0px; word-wrap: break-word" ng-bind-html="tender.text" class="ff-masonry-brick-text text-justify" data-ellipsis></p>
            <div class="form-group" ng-repeat="item in tender.items" ng-if="item.valueMapped">
                <div class="col-sm-12" style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
                    <label class="ff-masonry-brick-label">{{ item.text }}</label>
                    <div ng-if="item.type == 'CURRENCY'" style="padding-left: 5px;">{{ item.valueMapped | currency : "" }} <span ng-if="item.valueMapped">{{ item.currency.code }}</span></div>
                    <div ng-if="item.type == 'PERCENTAGE'" style="padding-left: 5px;">{{ item.valueMapped }}<span ng-if="item.valueMapped">%</span></div>
                    <div ng-if="item.type == 'HYPERLINK'" class="ff-masonry-brick-value"><a href="{{ item.valueMapped }}" target="_blank">{{ item.valueMapped }}</a></div>
                    <div ng-if="item.type == 'DATE'" style="padding-left: 5px;">{{ item.valueMapped | date:dateFormat }}</div>
                    <div ng-if="item.type != 'CURRENCY' && item.type != 'PERCENTAGE' && item.type != 'HYPERLINK' && item.type != 'DATE'" class="ff-masonry-brick-value" ng-bind-html="toTrusted(item.valueMapped)"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12" style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px;">
                    <label class="ff-masonry-brick-label">{{ 'HEADER_PROJECTS_4_TENDER' | translate }}</label>
                   	<ul>
                       <li ng-repeat="project in tender.projects"><a class="ff-a" ng-click="showProject(project.id)">{{ project.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>