<style>
p span {
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}
</style>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_TENDERS' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div masonry>
        <div class="masonry-brick ff-masonry-brick" ng-repeat="tender in tenders">
            <small class="label-default pull-right ff-masonry-brick-date ">{{tender.lastModifiedDate | date : dateFormat}}</small>
            <h5 class="p-xs ff-masonry-brick-title">
                <a class="ff-a" ui-sref="tenders.details({ id: tender.id })">{{tender.name}}</a>
            </h5>
            <a ui-sref="tenders.details({ id: tender.id })">
                <img class="img-rounded ff-masonry-brick-img" ng-show="tender.image.base64" ng-src="data:image/JPEG;base64,{{tender.image.base64}}" width="100%">
            </a>
            <p data-ng-bind="tender.text | htmlToPlaintext" class="ff-masonry-brick-text" data-ellipsis data-ellipsis-append="{{ 'LABEL_READ_MORE' | translate | lowercase }}" data-ellipsis-append-click="showDetails(tender)"></p>
        </div>
    </div>
</div>