<style>
    .panel {
        margin-bottom: 0px; 
    }
    .chosen-container-single {
        width: 100%;
    }
    .chosen-container-single .chosen-single {
        border: 1px solid #e5e6e7;  
    }
    .chosen-container-multi {
        width: 100%;
    }
    .chosen-container-multi .chosen-choices {
        border: 1px solid #e5e6e7;  
    }
    .chosen-container-multi .chosen-choices li.search-field .default {
        width: 100% !important;
        color: #b0b0b0 !important;
    }
</style>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_COMPANY' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="margin-bottom: 200px;">
	<form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
		<div class="row">
			<div class="col-lg-12">
				
				<div ng-if="principal.registrationType == 'EXTERNAL'" class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_COMPANY_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.name.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.name.$valid }"></i></span>
                        </label>
                        <input ng-model="company.name" type="text" class="form-control ff-form-control" name="name" ng-required="true" maxlength="255" />
                    </div>
                </div>
                
                <div ng-if="principal.registrationType == 'EXTERNAL'" class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_COMPANY_CODE' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.code.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.code.$valid }"></i></span>
                        </label>
                        <input ng-model="company.code" type="text" class="form-control ff-form-control" name="code" ng-required="true" maxlength="64" />
                    </div>
                </div>
                
                <div class="form-group" ng-repeat="(parentIndex, item) in company.items" ng-if="!item.metaTag || item.metaTag.indexOf('COMPANY_INVESTMENT_') == -1">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ item.text }}
                            <sup ng-if="item.help"><i class="fa fa-question-circle fa-lg" role="button" uib-popover-html="toTrusted(item.help)" popover-append-to-body="true" popover-placement="bottom" popover-trigger="outsideClick"></i></sup>
                            <span ng-if="item.mandatory" class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.{{'item'+parentIndex}}.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.{{'item'+parentIndex}}.$valid }"></i></span>
                        </label>
                        
                        <!-- TEXT -->
                        <input ng-if="item.type == 'TEXT'" ng-model="item.value" type="text" class="form-control ff-form-control" name="{{'item'+parentIndex}}" ng-required="item.mandatory" />
                        
                        <!-- TEXT_AREA -->
                        <textarea ng-if="item.type == 'TEXT_AREA'" ng-model="item.value" rows="5" class="form-control ff-form-control" name="{{'item'+parentIndex}}" ng-required="item.mandatory" style="resize: none;"></textarea>
                        
                        <!-- NUMBER -->
                        <input ng-if="item.type == 'NUMBER'" ng-model="item.value" type="number" class="form-control ff-form-control" name="{{'item'+parentIndex}}" ng-required="item.mandatory" />
                        
                        <!-- SUBDIVISION2 -->
						<select ng-if="item.type == 'SUBDIVISION2'" width="1" chosen class="form-control ff-form-control" ng-required="item.mandatory" ng-model="item.value" name="{{'item'+parentIndex}}" options="subdivisions2" ng-options="subdivision2.name group by subdivision2.subdivision1.name for subdivision2 in subdivisions2 track by subdivision2.id"></select>
						
						<!-- SUBDIVISIONS1 -->
						<select ng-if="item.type == 'SUBDIVISIONS1'" width="1" chosen multiple class="form-control ff-form-control" ng-required="item.mandatory" ng-model="item.value" name="{{'item'+parentIndex}}" options="subdivisions1" ng-options="subdivision1.name for subdivision1 in subdivisions1 track by subdivision1.id"></select>
						
						<!-- SUBDIVISIONS2 -->
						<select ng-if="item.type == 'SUBDIVISIONS2'" width="1" chosen multiple class="form-control ff-form-control" ng-required="item.mandatory" ng-model="item.value" name="{{'item'+parentIndex}}" options="subdivisions2" ng-options="subdivision2.name group by subdivision2.subdivision1.name for subdivision2 in subdivisions2 track by subdivision2.id"></select> 
						
						<!-- SELECT -->
						<select ng-if="item.type == 'SELECT'" allow-single-deselect="true" data-placeholder-text-single="'{{ 'CHOSEN_SINGLE_PLACEHOLDER' | translate }}'" data-no-results-text="'{{ 'CHOSEN_NO_RESULT_PLACEHOLDER' | translate }}'" chosen class="form-control ff-form-control" ng-required="item.mandatory" ng-model="item.value" name="{{'item'+parentIndex}}" options="item.options" ng-options="option.text for option in item.options track by option.id">
						  <option value=""></option>
						</select>
                        
                        <!-- MULTISELECT -->
                        <select ng-if="item.type == 'MULTISELECT'" chosen multiple data-placeholder-text-multiple="'{{ 'CHOSEN_MULTIPLE_PLACEHOLDER' | translate }}'" data-no-results-text="'{{ 'CHOSEN_NO_RESULT_PLACEHOLDER' | translate }}'" class="form-control ff-form-control" ng-required="item.mandatory" ng-model="item.value" name="{{'item'+parentIndex}}" options="item.options" ng-options="option.text for option in item.options track by option.id"></select>
                        
                        <!-- DATE -->
                        <div ng-if="item.type == 'DATE'">
                            <div class="input-group">
                                <input ng-required="item.mandatory" type="text" class="form-control ff-form-control" readonly="readonly" 
                                	ng-click="openPopupDate(parentIndex)" style="background-color: white;" datepicker-append-to-body="true" 
                                	show-button-bar="true" uib-datepicker-popup="{{dateFormat}}" is-open="dictPopupDate[parentIndex].opened" 
                                	ng-model="item.value" ng-model-options="{ timezone: 'utc' }" name="{{'item'+parentIndex}}" 
                                	current-text="{{ 'BUTTON_DATE_CURRENT' | translate }}" clear-text="{{ 'BUTTON_DATE_CLEAR' | translate }}" close-text="{{ 'BUTTON_DATE_CLOSE' | translate }}" />
                                <span class="input-group-addon" style="cursor: pointer;" ng-click="openPopupDate(parentIndex)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        
                        <!-- RADIO -->
                        <div ng-if="item.type == 'RADIO'" class="m-t-xxs">
                            <div class="m-l-sm m-t-xs" ng-repeat="option in item.options">
                                <input ng-model="item.value" type="radio" ng-value="{{option.id}}" icheck class="form-control" name="{{'item'+parentIndex}}" ng-required="item.mandatory" /> <span>{{ option.text }}</span><br>
                            </div>
                        </div>
                    </div>
                </div>
                
			</div>
		</div>
	</form>
</div>

<button ladda="saving" ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary pull-right floating-button">{{ 'BUTTON_SAVE' | translate }}</button>
