<div class="row border-bottom">
	<div class="col-sm-12">
		<h1 ng-if="entityType == 'tender' && entity != null && entity.id == null">{{ 'HEADER_TENDER_ITEM_ADD' | translate }}</h1>
		<h1 ng-if="entityType == 'tender' && entity != null && entity.id != null">{{ 'HEADER_TENDER_ITEM_EDIT' | translate }}</h1>
		<h1 ng-if="entityType == 'company' && entity != null && entity.id == null">{{ 'HEADER_COMPANY_ITEM_ADD' | translate }}</h1>
        <h1 ng-if="entityType == 'company' && entity != null && entity.id != null">{{ 'HEADER_COMPANY_ITEM_EDIT' | translate }}</h1>
	</div>
</div>
      
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
		<div class="col-lg-12">
		   <form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_CODE' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.code.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.code.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.code" type="text" icheck class="form-control ff-form-control" name="code" ng-required="true" maxlength="8" />
                        <small class="ff-postscript">{{ 'POSTSCRIPT_CODE' | translate }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_TYPE' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.type.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.type.$valid }"></i></span>
                        </label>
                        <select ng-required="true" ng-change="typeChanged()" chosen class="form-control" ng-model="entity.type" name="type">
                            <option value=""></option>
                            <option value="TEXT">{{ 'ITEM_TYPE_TEXT' | translate }}</option>
                            <option value="TEXT_AREA">{{ 'ITEM_TYPE_TEXT_AREA' | translate }}</option>
                            <option value="NUMBER">{{ 'ITEM_TYPE_NUMBER' | translate }}</option>
                            <option value="DATE">{{ 'ITEM_TYPE_DATE' | translate }}</option>
                            <option value="RADIO">{{ 'ITEM_TYPE_RADIO' | translate }}</option>
                            <option value="CHECKBOX">{{ 'ITEM_TYPE_CHECKBOX' | translate }}</option>
                            <option value="SELECT">{{ 'ITEM_TYPE_SELECT' | translate }}</option>
                            <option value="MULTISELECT">{{ 'ITEM_TYPE_MULTISELECT' | translate }}</option>
                            <option value="HYPERLINK">{{ 'ITEM_TYPE_HYPERLINK' | translate }}</option>
                            <option ng-if="entityType == 'company'" value="CITY">{{ 'ITEM_TYPE_CITY' | translate }}</option>
                            <option ng-if="entityType == 'tender'" value="COUNTIES">{{ 'ITEM_TYPE_COUNTIES' | translate }}</option>
                            <option ng-if="entityType == 'company'" value="NKD">{{ 'ITEM_TYPE_NKD' | translate }}</option>
                            <option value="NKDS">{{ 'ITEM_TYPE_NKDS' | translate }}</option>
                            <option ng-if="entityType == 'tender'" value="INVESTMENTS">{{ 'ITEM_TYPE_INVESTMENTS' | translate }}</option>
                        </select>
                        <small class="ff-postscript">{{ typeDescription }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_MANDATORY' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.mandatory.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.mandatory.$valid }"></i></span>
                        </label>
                        <div class="m-t-xs">
	                        <span class="m-l-sm"><input ng-model="entity.mandatory" type="radio" ng-value="true" icheck class="form-control" name="mandatory" ng-required="true" /> <label>{{ 'BOOLEAN_TRUE' | translate }}</label></span>
	                        <span class="m-l-sm"><input ng-model="entity.mandatory" type="radio" ng-value="false" icheck class="form-control" name="mandatory" ng-required="true" /> <label>{{ 'BOOLEAN_FALSE' | translate }}</label></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_POSITION' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.position.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.position.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.position" type="number" class="form-control ff-form-control" name="position" ng-required="true" min="1" max="1000" />
                        <small class="ff-postscript">{{ 'POSTSCRIPT_ITEM_POSITION' | translate }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_METATAG' | translate }}</label>
                        <select chosen class="form-control ff-form-control" ng-model="entity.metaTag" allow-single-deselect="true" options="metaTags" ng-options="metaTags for metaTags in metaTags track by metaTags">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div ng-if="entity.entityType == 'TENDER'" class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_WIDGET_ITEM' | translate }}</label>
                        <div class="m-t-xs">
                            <span class="m-l-sm"><input ng-model="entity.widgetItem" type="radio" ng-value="true" icheck class="form-control" /> <label>{{ 'BOOLEAN_TRUE' | translate }}</label></span>
                            <span class="m-l-sm"><input ng-model="entity.widgetItem" type="radio" ng-value="false" icheck class="form-control" /> <label>{{ 'BOOLEAN_FALSE' | translate }}</label></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_TEXT' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.text.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.text.$valid }"></i></span>
                        </label>
                        <textarea ng-model="entity.text" rows="3" class="form-control ff-form-control" name="text" style="resize: none;" maxlength="4096" ng-required="true"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-if="entity.type == 'RADIO' || entity.type == 'CHECKBOX' || entity.type == 'SELECT' || entity.type == 'MULTISELECT'">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_OPTIONS' | translate }}</label>
                        <div>
	                        <div ng-show="entity.options.length == 0" class="col-sm-12 m-b-xs" style="padding-left: 0px; padding-right: 0px;">
	                            <div class="col-sm-12" style="padding-right: 0px; text-align: right;">
	                                <button type="button" ng-click="addOption(0)" class="btn btn-primary m-l-xxs"><i class="fa fa-plus"></i></button>
	                            </div>
	                        </div>
	                        <div ng-show="entity.options.length > 0" ng-repeat="option in entity.options" class="col-sm-12 m-b-xs" style="padding-left: 0px; padding-right: 0px;">
	                            <span ng-init="random = getRandom()"></span>
	                            <div class="col-sm-9" style="padding-left: 0px;">
	                                <input type="text" class="form-control ff-form-control" ng-required="true" ng-model="option.text" name="{{'optionText' + random}}" maxlength="4096" /> 
	                            </div>
	                            <div class="col-sm-1" style="padding-left: 0px;">
	                                <i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.{{'optionText' + random}}.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.{{'optionText' + random}}.$valid }"></i>
	                            </div>
	                            <div class="col-sm-2" style="padding-right: 0px; text-align: right;">
	                                <button type="button" ng-click="removeOption($index)" class="btn btn-primary"><i class="fa fa-minus"></i></button>
	                                <button type="button" ng-click="addOption($index)" class="btn btn-primary m-l-xxs"><i class="fa fa-plus"></i></button>
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_HELP' | translate }}</label>
                        <summernote config="summernoteOptions" ng-model="entity.help" name="help" />
                    </div>
                </div>
			</form>
		</div>
	</div>
	
	<div class="row" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
            <button ng-click="saveEntity()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'BUTTON_SAVE' | translate }}</button>
        </div>
    </div>
</div>