<div class="footer-contact zaba-ribbon">
	<div class="container">
		<header class="section-header">
			<h2 class="h2">Kontaktirajte nas</h2> 
		</header>
		<div class="item-container mt-40">
			<ul class="contact-us-item-wrap">
				<li class="contact-us-item">
					<a ui-sref="contact.submit" class="blocklink"> <i class="icon-chat"></i>
						<h2>Dogovorite sastanak</h2> <span class="action-desc">Zatražite termin</span> 
					</a>		
				</li>
				<li class="contact-us-item">
					<a href="mailto:zaba@unicreditgroup.zaba.hr" class="blocklink"> <i class="icon-email"></i>
						<h2>Pišite nam</h2> <span class="action-desc">zaba@unicreditgroup.zaba.hr</span> 
					</a>
				</li>
				<li class="contact-us-item">
					<a href="tel:08000024" class="blocklink"> <i class="icon-phone-ring"></i>
						<h2>Zovite nas 0800 0024</h2> <span class="action-desc">BESPLATNI INFOTELEFON</span> 
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--  
<div class="footer">
	<div class="row">
		<div class="col-xs-6 text-left">
			<small>Fund Finder {{version}}</small>
		</div>
		<div class="col-xs-6 text-right">
        <small>Betaware &copy; 2017</small>
		</div>
	</div>
</div>
-->