<nav class="navbar-default navbar-static-side" role="navigation">
	<div ng-controller="NavigationController" class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li ng-class="{active: $state.includes('tenders')}">
                <a ui-sref="tenders.overview">
                    <i class="fa fa-star"></i>
                    <span class="nav-label">{{ 'MENU_TENDERS' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('company')}">
                <a ui-sref="company.edit">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">{{ 'MENU_COMPANY' | translate }}</span>
                    <i ng-if="!principal.demoUser && profileIncomplete" class="fa fa-lg fa-exclamation-circle pull-right" 
                        uib-popover="{{ 'INCOMPLETE_PROFILE_MSG' | translate }}" popover-title="{{ 'INCOMPLETE_PROFILE_HDR' | translate }}" popover-trigger="mouseenter" popover-append-to-body="true"></i>
                </a>
            </li>
			<li ng-class="{active: $state.includes('projects')}">
                <a ui-sref="projects.overview">
                    <i class="fa fa-university"></i>
                    <span class="nav-label">{{ 'MENU_PROJECTS' | translate }}</span>
                </a>
            </li>
			<li ng-class="{active: $state.includes('articles')}">
                <a ui-sref="articles.overview">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">{{ 'MENU_ARTICLES' | translate }}</span>
                </a>
            </li>
		</ul>
	</div>
</nav>