<div class="row border-bottom" ng-controller="TopnavbarController">
    <nav class="navbar navbar-static-top" role="navigation">

        <div class="navbar-header">
            <div class="ff-logo"></div>
        </div>
        
        <ul class="nav navbar-nav" style="margin-left: 40px;">
            <li ng-class="{active: $state.includes('dashboard')}">
                <a ui-sref="dashboard.overview">
                    <span class="nav-label">{{ 'MENU_DASHBOARD' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('tenders')}">
                <a ui-sref="tenders.overview">
                    <span class="nav-label">{{ 'MENU_TENDERS' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('company')}">
                <a ui-sref="company.edit">
                    <span class="nav-label">{{ 'MENU_COMPANY' | translate }}</span>
                    <i ng-if="!principal.demoUser && profileIncomplete" class="fa fa-exclamation-circle pull-right" uib-popover="{{ 'INCOMPLETE_PROFILE_MSG' | translate }}" popover-title="{{ 'INCOMPLETE_PROFILE_HDR' | translate }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"></i>
                </a>
            </li>
            <li ng-class="{active: $state.includes('projects')}">
                <a ui-sref="projects.overview">
                    <span class="nav-label">{{ 'MENU_PROJECTS' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('articles')}">
                <a ui-sref="articles.overview">
                    <span class="nav-label">{{ 'MENU_ARTICLES' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('contact')}">
                <a ui-sref="contact.submit">
                    <span class="nav-label">{{ 'MENU_CONTACT' | translate }}</span>
                </a>
            </li>
        </ul>
        
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <a style="font-weight: normal;" uib-dropdown-toggle><i class="fa fa-user"></i> {{ principal.firstName }} {{ principal.lastName }} <b class="caret"></b></a>
                <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                    <li ng-if="!principal.demoUser"><a style="font-weight: normal;" ng-click="settings()"><i class="fa fa-wrench m-r-xs"></i> {{ 'SETTINGS' | translate }}</a></li>
                    <li class="divider" style="margin: 0px;"></li>
                    <li><a style="font-weight: normal;" ng-click="logout()"><i class="fa fa-sign-out m-r-xs"></i> {{ 'LOGOUT' | translate }}</a></li>
                </ul>
            </li>
        </ul>
        
    </nav>
</div>