<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 ng-show="!compareVisible" class="modal-title">{{ 'ENTITY_REVISION' | translate }} {{revision.id}}</h4>
                <h4 ng-show="compareVisible" class="modal-title">{{ 'DIALOG_REVISION_DETAILS_HEADER' | translate }}</h4>
            </div>
            <div ng-show="!compareVisible" class="body modal-body">
                <form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label ff-revision-font">{{ 'LABEL_REVISION_DATE' | translate }}</label>
                        <div class="col-sm-9">
                            <input value="{{revision.creationDate | date: dateTimeFormat}}" type="text" class="form-control ff-ro-field ff-revision-font" readonly="readonly" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label ff-revision-font">{{ 'LABEL_REVISION_TYPE' | translate }}</label>
                        <div class="col-sm-9">
                            <input value="{{revision.type}}" type="text" class="form-control ff-ro-field ff-revision-font" readonly="readonly" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label ff-revision-font">{{ 'LABEL_USER' | translate }}</label>
                        <div class="col-sm-9">
                            <input value="{{revision.createdBy}}" type="text" class="form-control ff-ro-field ff-revision-font" readonly="readonly" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 control-label ff-revision-font">{{ 'LABEL_ENTITY_TYPE' | translate }}</label>
                        <div class="col-sm-9">
                            <input value="{{revision.clazz | getSimpleClassName}}" type="text" class="form-control ff-ro-field ff-revision-font" readonly="readonly" />
                        </div>
                    </div>
                    
                    <div class="form-group">
	                    <label class="col-sm-3 control-label ff-revision-font">{{ 'LABEL_ENTITY_ATTRIBUTES' | translate }}</label>
	                    <div class="col-sm-9">
	                        <textarea ng-model="revisionDetails" rows="10" class="form-control ff-ro-field ff-revision-font" readonly="readonly" style="resize: none;"></textarea>
	                    </div>
                    </div>
                    
                </form> 
            </div>
            <div ng-show="compareVisible" class="body modal-body">
				<div class="row">
					<div class="col-md-6">
						<h5>{{ 'ENTITY_REVISION' | translate }} {{revision.id}} <small>({{revision.createdBy}} - {{revision.creationDate | date: dateTimeFormat}})</small></h5>
						<textarea ng-model="revisionDetails" rows="8" class="form-control ff-ro-field ff-revision-font" readonly="readonly" style="resize: none;"></textarea>
					</div>
					<div class="col-md-6">
						<h5>{{ 'ENTITY_REVISION' | translate }} {{revisionPrev.id}} <small>({{revisionPrev.createdBy}} - {{revisionPrev.creationDate | date: dateTimeFormat}})</small></h5>
						<textarea ng-model="revisionPrevDetails" rows="8" class="form-control ff-ro-field ff-revision-font" readonly="readonly" style="resize: none;"></textarea>
					</div>
				</div>
				<div class="row m-t-sm">
					<div class="col-md-12">
						<h5>{{ 'DIALOG_REVISION_DETAILS_DIFFERENCES' | translate }}</h5>
						<div class="ff-revision-font" style="height: 179px; overflow: scroll; border: 1px solid #e0e0e0; padding: 10px;" semantic-diff left-obj="revisionPrevDetails" right-obj="revisionDetails"></div>
					</div>
				</div>
			</div>
            <div class="modal-footer p-xs">
                <button ng-show="!compareVisible" type="button" data-dismiss="modal" class="btn btn-white"><i class="fa fa-close"></i> {{ 'BUTTON_CLOSE' | translate }}</button>
                <button ng-show="!compareVisible && revisionPrev" type="button" ng-click="compare()" class="btn btn-primary"><i class="fa fa-files-o"></i> {{ 'BUTTON_REVISION_COMPARE' | translate }}</button>
                <button ng-show="compareVisible" ng-click="back()" class="btn btn-white"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
            </div>
        </div>
    </div>
</div>