<style>
p span {
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}
</style>

<div class="row border-bottom">
    <div class="col-lg-10">
        <h1>{{ 'MENU_INVESTMENTS' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
    <div class="col-lg-2 m-t-md">
		<button ng-click="addEntity()" type="button" class="btn btn-primary pull-right">
			<i class="fa fa-plus"></i> {{ 'BUTTON_ADD' | translate }}
		</button>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <form name="form" class="ng-pristine ng-valid" novalidate>
		<div class="row">
			<div masonry masonry-options="{ transitionDuration: '0.75s' }" preserve-order>
		        <div class="masonry-brick ff-masonry-brick" ng-repeat="companyInvestment in companyInvestments">
		            <i ng-click="deleteEntity(companyInvestment)" class="fa fa-remove pull-right" style="margin-right: 3px; margin-top: 3px; cursor: pointer;" uib-tooltip="{{ 'TOOLTIP_DELETE' | translate }}"></i>
		            <h5 class="p-xs ff-masonry-brick-title" style="margin-bottom: 5px;">
		                <a class="ff-a" ui-sref="investments.edit({ id: companyInvestment.id })">{{companyInvestment.name}}</a>
		            </h5>
		            <a ui-sref="investments.edit({ id: companyInvestment.id })">
		                <img class="img-rounded ff-masonry-brick-img" ng-show="companyInvestment.investment.image.base64" ng-src="data:image/JPEG;base64,{{companyInvestment.investment.image.base64}}" width="100%">
		            </a>
		            <p style="margin-bottom: 0px;" data-ng-bind="companyInvestment.description | htmlToPlaintext" class="ff-masonry-brick-text text-justify" data-ellipsis data-ellipsis-append="{{ 'LABEL_READ_MORE' | translate | lowercase }}" data-ellipsis-append-click="editEntity(companyInvestment)"></p>
		        </div>
		    </div>
		</div>
	</form>
</div>