<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_DASHBOARD' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	    <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <span class="label label-success pull-right">{{ 'HEADER_DASHBOARD_TENDERS_BADGE' | translate }}</span>
                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS' | translate }}</h4>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <div class="row m-b-xs m-l-xxs p-xs" ng-repeat="tender in tenders" style="border: 1px solid #f0f0f0; border-radius: 5px;">
                        <label>{{ tender.name }}</label>
                        <div>
                            <i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>
                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_START_DATE'">{{ item.value }}
                            -
                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_END_DATE'">{{ item.value }}
                            
                            <i class="fa fa-star-o m-l-md m-r-xs" aria-hidden="true"></i>
                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_AVAILABLE_FUNDING'">{{ item.value | currency : "" }} {{ item.currency.code }}
                            
                            <i ng-click="showTender(tender)" class="fa fa-search-plus fa-lg pull-right" style="cursor: pointer;" aria-hidden="true"></i>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
	    <div class="col-lg-6">
	       <div class="row">
	           <div class="col-lg-4">
	               <div class="ibox float-e-margins">
		                <div class="ibox-title ff-ibox-title">
		                    <span class="label label-primary pull-right">{{ 'HEADER_DASHBOARD_TENDERS_CNT_BADGE' | translate }}</span>
		                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS_CNT' | translate }}</h4>
		                </div>
		                <div class="ibox-content ff-ibox-content">
                            <!-- <div class="stat-percent" style="text-align: right;">
                                <i ng-click="showTenders()" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
                            </div> -->
		                    <h2 style="color: #555;" class="no-margins">{{ cntTenders }}</h2>
		                </div>
		            </div>
	           </div>
	           <div class="col-lg-4">
                   <div class="ibox float-e-margins">
                        <div class="ibox-title ff-ibox-title">
                            <span class="label label-primary pull-right">{{ 'HEADER_DASHBOARD_PROJECTS_CNT_BADGE' | translate }}</span>
                            <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_PROJECTS_CNT' | translate }}</h4>
                        </div>
                        <div class="ibox-content ff-ibox-content">
                            <div class="stat-percent" style="text-align: right;">
                                <i ng-click="showProjects()" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
                            </div>
                            <h2 style="color: #555;" class="no-margins">{{ cntProjects }}</h2>
                        </div>
                    </div>
               </div>
               <div class="col-lg-4">
                   <div class="ibox float-e-margins">
                        <div class="ibox-title ff-ibox-title">
                            <span class="label label-primary pull-right">{{ 'HEADER_DASHBOARD_PROFILE_CNT_BADGE' | translate }}</span>
                            <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_PROFILE_CNT' | translate }}</h4>
                        </div>
                        <div class="ibox-content ff-ibox-content">
                            <div class="stat-percent" style="text-align: right;">
                                <i ng-click="showCompany()" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
                            </div>
                            <h2 style="color: #555;" class="no-margins">{{ profileCompleteness | number : 0 }}%</h2>
                        </div>
                    </div>
               </div>
	       </div>
            <div class="row">
                <div class="col-lg-12">
		            <div class="ibox float-e-margins">
		                <div class="ibox-title ff-ibox-title">
		                    <span class="label label-warning pull-right">{{ 'HEADER_DASHBOARD_TENDERS_CHART_BADGE' | translate }}</span>
		                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS_CHART' | translate }}</h4>   
		                </div>
		                <div class="ibox-content ff-ibox-content">
		                    <canvas class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels" chart-options="chartOptions"></canvas>                    
		                </div>
		            </div>                
                </div>
            </div>
	    </div>
    </div>
    <div class="row">
        
    </div>
</div>