<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_DASHBOARD' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div ng-if="showSyncDataWarningOrNot" class="row m-b-sm" style="margin-left: 0px; margin-right: 0px; border: 1px solid #f0f0f0;">
    	<div class="col-lg-12 text-center m-t-sm m-b-sm">
    		<h3><i class="fa fa-exclamation-triangle fa-lg" style="color: red;" aria-hidden="true"></i> {{ 'LABEL_SYNC_DATA_WARNING' | translate }}</h3>
    		<button ng-click="syncCompanyData(0)" uib-tooltip="{{ 'TOOLTIP_SYNC_DATA' | translate }}" tooltip-append-to-body="true" class="btn btn-primary">{{ 'BUTTON_SYNC_DATA' | translate }}</button>
    		<!-- <button ng-click="syncCompanyData(1)" uib-tooltip="{{ 'TOOLTIP_SYNC_DATA_ALWAYS' | translate }}" tooltip-append-to-body="true" class="btn btn-primary m-l-sm">{{ 'BUTTON_SYNC_DATA_ALWAYS' | translate }}</button> -->
    		<button ng-click="syncCompanyData(2)" uib-tooltip="{{ 'TOOLTIP_SYNC_DATA_NOT' | translate }}" tooltip-append-to-body="true" class="btn btn-primary m-l-sm">{{ 'BUTTON_SYNC_DATA_NOT' | translate }}</button>
    	</div>
    	<div class="col-lg-12 text-center m-b-sm">
			<input id="hideSyncDataWarning" type="checkbox" ng-model="hideSyncDataWarning.value" class="m-t-lg"></input>
			<label for="hideSyncDataWarning" class="m-l-xs" style="font-weight: normal;">{{ 'LABEL_SHOW_SYNC_DATA_WARNING' | translate }}</label>    	
    	</div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS1_CNT' | translate }}</h4>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <h2 style="color: #555;" class="no-margins">{{ data.cntTenders }}</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS2_CNT' | translate }}</h4>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <h2 style="color: #555;" class="no-margins">{{ data.cntTendersOpen }}</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS3_CNT' | translate }}</h4>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <div class="stat-percent" style="text-align: right;">
                        <i ui-sref="tenders.overview" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
                    </div>
                    <h2 style="color: #555;" class="no-margins">{{ data.cntTenders4U }}</h2>
                </div>
            </div>
        </div>
		<div class="col-lg-2">
			<div class="ibox float-e-margins">
				<div class="ibox-title ff-ibox-title">
					<h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_PROJECTS_CNT' | translate }}</h4>
				</div>
				<div class="ibox-content ff-ibox-content">
					<div class="stat-percent" style="text-align: right;">
						<i ui-sref="projects.overview" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
					</div>
					<h2 style="color: #555;" class="no-margins">{{ data.cntProjects }}</h2>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_ARTICLES_CNT' | translate }}</h4>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <div class="stat-percent" style="text-align: right;">
                        <i ui-sref="articles.overview" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
                    </div>
                    <h2 style="color: #555;" class="no-margins">{{ data.cntArticles }}</h2>
                </div>
            </div>
        </div>
		<div class="col-lg-2">
			<div class="ibox float-e-margins">
				<div class="ibox-title ff-ibox-title">
					<h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_PROFILE_CNT' | translate }}</h4>
				</div>
				<div class="ibox-content ff-ibox-content">
					<div class="stat-percent" style="text-align: right;">
						<i ui-sref="company.edit" class="fa fa-arrow-circle-right fa-2x" style="cursor: pointer; margin-top: 3px;" aria-hidden="true"></i>
					</div>
					<h2 style="color: #555;" class="no-margins">{{ profileCompleteness | number : 0 }}%</h2>
				</div>
			</div>
		</div>
	</div>
    
    <div class="row">
	    <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
		            <div class="ibox float-e-margins">
		                <div class="ibox-title ff-ibox-title">
                            <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS' | translate }}</h4>
		                </div>
		                <div class="ibox-content ff-ibox-content">
		                    <div class="row m-b-xs m-l-xxs p-xs" ng-repeat="tender in data.tenders" style="border: 1px solid #f0f0f0; border-radius: 5px;">
                                <small ng-if="tender.state == 'OPEN'" class="label-primary pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_OPEN' | translate }}</small>
                                <small ng-if="tender.state == 'PENDING'" class="label-warning pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_PENDING' | translate }}</small>
                                <small ng-if="tender.state == 'CLOSE'" class="label-danger pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_CLOSE' | translate }}</small>
                                <a class="ff-a" ui-sref="tenders.details({ id: tender.id })">
		                          <h4>{{ tender.name }}</h4>
		                        </a>
		                        <div>
		                            <i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>
		                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_START_DATE'">{{ item.value | date:dateFormat }}</span>
		                            -
		                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_END_DATE'">{{ item.value | date:dateFormat }}</span>
		                            
		                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_AVAILABLE_FUNDING'">
                                        <i class="fa fa-diamond m-l-md m-r-xs" uib-tooltip="{{ item.text }}" ng-if="item.value" aria-hidden="true"></i> <span ng-if="item.value">{{ item.value | currency : "" }} {{ item.currency.code }}</span>
		                            </span>
		                            
		                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_MAX_AID_INTENSITY'">
                                        <i class="fa fa-level-up m-l-md m-r-xs" uib-tooltip="{{ item.text }}" ng-if="item.value" aria-hidden="true"></i> <span ng-if="item.value">{{ item.value }} %</span>
                                    </span>
		                            
		                            <i ui-sref="tenders.details({ id: tender.id })" class="fa fa-search-plus fa-lg pull-right" style="cursor: pointer;" aria-hidden="true"></i>
		                        </div> 
		                    </div>
		                </div>
		            </div>
	            </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title ff-ibox-title">
                            <h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_ARTICLE' | translate }}</h4>
                        </div>
                        <div class="ibox-content ff-ibox-content">
                            <div class="row m-b-xs m-l-xxs p-xs" ng-repeat="article in articles" style="border: 1px solid #f0f0f0; border-radius: 5px;">
                                <small class="label-default pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{article.lastModifiedDate | date : dateFormat}}</small>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <a ui-sref="articles.details({ id: article.id })">
                                            <img class="img-rounded" ng-show="article.image.base64" ng-src="data:image/JPEG;base64,{{article.image.base64}}" width="100%"">
                                        </a>
                                    </div>
                                    <div class="col-lg-9">
                                        <a class="ff-a" ui-sref="articles.details({ id: article.id })">
                                            <h4 style="margin-top: 0px; margin-bottom: 5px;">{{article.name}}</h4>
                                        </a>
                                        <p style="margin: 0px; min-height: 10px; max-height: 75px; word-wrap: break-word;" ng-bind-html="article.text" class="text-justify" data-ellipsis></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title ff-ibox-title">
					<h4 style="margin-top: 0px; margin-bottom: 5px;" class="m-b-md">{{ 'HEADER_DASHBOARD_TENDERS_CHART' | translate }}
						<small class="pull-right"><i class="fa fa-info-circle m-r-xxs" aria-hidden="true"></i> {{ 'LABEL_CHART_DETAILS_NOTE' | translate }}</small>
					</h4>
				</div>
				<div class="ibox-content ff-ibox-content">
				    <canvas class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels" chart-click="showChartDetails"
				        chart-series="chartSeries" chart-dataset-override="chartDatasetOverride" chart-options="chartOptions"></canvas>
				        
				    <div ng-show="chartDetails" class="m-t-md">
				    	<h5 style="border-bottom: 1px solid #ccc; padding-bottom: 5px;">Detalji za {{ chartDetails }}</h5>
				    	
				    	<div class="row m-b-xs m-l-xs m-r-xs p-xs" ng-repeat="tender in chartDetailsTenders" style="border: 1px solid #f0f0f0; border-radius: 5px;">
                               <small ng-if="tender.state == 'OPEN'" class="label-primary pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_OPEN' | translate }}</small>
                               <small ng-if="tender.state == 'PENDING'" class="label-warning pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_PENDING' | translate }}</small>
                               <small ng-if="tender.state == 'CLOSE'" class="label-danger pull-right" style="padding: 2px 5px 1px 5px; border-radius: 5px; margin-top: -7px; margin-right: -7px; color: white;">{{ 'TENDER_STATE_CLOSE' | translate }}</small>
                               <a class="ff-a" ui-sref="tenders.details({ id: tender.id })">
	                          <h4>{{ tender.name }}</h4>
	                        </a>
	                        <div>
	                            <i class="fa fa-calendar m-r-xs" aria-hidden="true"></i>
	                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_START_DATE'">{{ item.value | date:dateFormat }}</span>
	                            -
	                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_END_DATE'">{{ item.value | date:dateFormat }}</span>
	                            
	                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_AVAILABLE_FUNDING'">
	                            	<i class="fa fa-diamond m-l-md m-r-xs" uib-tooltip="{{ item.text }}" ng-if="item.value" aria-hidden="true"></i> <span ng-if="item.value">{{ item.value | currency : "" }} {{ item.currency.code }}</span>
	                            </span>
	                            
	                            <span ng-repeat="item in tender.items" ng-if="item.metaTag == 'TENDER_MAX_AID_INTENSITY'">
									<i class="fa fa-level-up m-l-md m-r-xs" uib-tooltip="{{ item.text }}" ng-if="item.value" aria-hidden="true"></i> <span ng-if="item.value">{{ item.value }} %</span>
								</span>
	                            
	                            <i ui-sref="tenders.details({ id: tender.id })" class="fa fa-search-plus fa-lg pull-right" style="cursor: pointer;" aria-hidden="true"></i>
	                        </div> 
	                    </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>