<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_ACTIVITIES' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        <div class="col-lg-12 m-b-xs">
            <div class="btn-group pull-right">
                <button ng-click="addEntity()" type="button" class="btn btn-primary">{{ 'BUTTON_ADD' | translate }}</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="exportData()">{{ 'BUTTON_EXPORT' | translate }} {{ 'TO_JSON' | translate }}</a></li>
                    <li><a href="#" ngf-select ngf-change="importData($files)">{{ 'BUTTON_IMPORT' | translate }} {{ 'FROM_JSON' | translate }}...</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-lg-12">
            <div ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-save-state class="grid m-b-sm">
                <div class="grid-msg-overlay" ng-hide="!loading">
                    <div class="msg">
                        <span>
                            {{ 'UI_GRID_LOADING_DATA' | translate }} <i class="fa fa-spinner fa-spin"></i>
                        </span>
                    </div>
                </div>
                <div class="grid-msg-overlay" ng-hide="loading || gridOptions.data.length">
                    <div class="msg">
                        <span>{{ 'UI_GRID_NO_DATA' | translate }}</span>
                    </div>
                </div>
            </div>		  
		</div>
	</div>
</div>