<style>
p span {
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}
</style>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_ARTICLES' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div ng-if="articles.length == 0">
		<h4>{{ 'LABEL_NO_ARTICLES' | translate }}</h4>
	</div>
	<div masonry masonry-options="{ transitionDuration: '0.75s' }" preserve-order>
		<div class="masonry-brick ff-masonry-brick" ng-repeat="article in articles">
            <small class="label-default pull-right ff-masonry-brick-date ">{{article.lastModifiedDate | date : dateFormat}}</small>
            <h5 class="p-xs ff-masonry-brick-title" style="margin-bottom: 5px;">
                <a class="ff-a" ui-sref="articles.details({ id: article.id })">{{article.name}}</a>
            </h5>
            <a ui-sref="articles.details({ id: article.id })">
                <img class="img-rounded ff-masonry-brick-img" ng-show="article.image.base64" ng-src="data:image/JPEG;base64,{{article.image.base64}}" width="100%">
            </a>
            <p style="margin-bottom: 0px; word-wrap: break-word" ng-bind-html="article.text" class="ff-masonry-brick-text text-justify" data-ellipsis></p>
        </div>
	</div>
</div>