<style>
p span {
    color: #808080;
    font-weight: bold;
    cursor: pointer;
}
</style>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'MENU_ARTICLES' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup></h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div masonry>
		<div class="masonry-brick ff-masonry-brick" ng-repeat="article in articles">
            <small class="label-default pull-right ff-masonry-brick-date ">{{article.lastModifiedDate | date : dateFormat}}</small>
            <h5 class="p-xs ff-masonry-brick-title" style="margin-bottom: 5px;">
                <a class="ff-a" ui-sref="articles.details({ id: article.id })">{{article.name}}</a>
            </h5>
            <a ui-sref="articles.details({ id: article.id })">
                <img class="img-rounded ff-masonry-brick-img" ng-show="article.image.base64" ng-src="data:image/JPEG;base64,{{article.image.base64}}" width="100%">
            </a>
            <p data-ng-bind="article.text" class="ff-masonry-brick-text" data-ellipsis data-ellipsis-append="{{ 'LABEL_READ_MORE' | translate | lowercase }}" data-ellipsis-append-click="showDetails(article)"></p>
        </div>
	</div>
</div>