<div class="row border-bottom">
	<div class="col-sm-12">
		<h1 ng-show="entity != null && entity.id == null">{{ 'HEADER_USER_GROUP_ADD' | translate }}</h1>
		<h1 ng-show="entity != null && entity.id != null">{{ 'HEADER_USER_GROUP_EDIT' | translate }}</h1>
	</div>
</div>

<style>
    .panel {
        margin-bottom: 0px; 
    }
</style>
      
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
		<div class="col-lg-12">
		   <form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
		       <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.name.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.name.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.name" type="text" class="form-control ff-form-control" name="name" ng-required="true" maxlength="255" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_USERS' | translate }}</label>
                    </div>
                    <div class="col-sm-10 m-sm">
	                    <select style="height: 200px;"
		                      ng-model="entity.users"
		                      ng-options="user as user.lastName for user in users track by user.id"
		                      multiple bs-duallistbox bootstrap2="false" postfix="_helperz" select-min-height="130" move-on-select="true" preserve-selection="moved"
		                      move-all-label="{{ 'DUALLIST_MOVE_ALL' | translate }}" move-selected-label="{{ 'DUALLIST_MOVE_SELECTED' | translate }}"
		                      remove-all-label="{{ 'DUALLIST_REMOVE_ALL' | translate }}" remove-selected-label="{{ 'DUALLIST_REMOVE_SELECTED' | translate }}"
		                      selected-list-label="{{ 'DUALLIST_SELECTED_LIST_LABEL' | translate }}" non-selected-list-label="{{ 'DUALLIST_UNSELECTED_LIST_LABEL' | translate }}"
		                      filter="true" filter-values="true" filter-placeholder="{{ 'DUALLIST_FILTER_PLACEHOLDER' | translate }}" filter-clear="{{ 'DUALLIST_FILTER_CLEAR' | translate }}"
		                      info-all="{{ 'DUALLIST_INFO_ALL' | translate }}" info-filtered="{{ 'DUALLIST_INFO_FILTERED' | translate }}" info-empty="{{ 'DUALLIST_INFO_EMPTY' | translate }}"></select>
	                    </div>
                </div>
		   </form>
		</div>
	</div>
	
	<div class="row" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
            <button ng-click="saveEntity()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'BUTTON_SAVE' | translate }}</button>
        </div>
    </div>
</div>