<div class="row border-bottom">
	<div class="col-sm-12">
		<h1 ng-show="entity != null && entity.id == null">{{ 'HEADER_INVESTMENT_ADD' | translate }}</h1>
		<h1 ng-show="entity != null && entity.id != null">{{ 'HEADER_INVESTMENT_EDIT' | translate }}</h1>
	</div>
</div>

<style>
    .panel {
        margin-bottom: 0px; 
    }
</style>
      
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
		<div class="col-lg-12">
		   <form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
		       
		       <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.name.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.name.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.name" type="text" class="form-control ff-form-control" name="name" ng-required="true" maxlength="512" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_TEXT' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.text.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.text.$valid }"></i></span>
                        </label>
                        <summernote config="summernoteOptions" ng-model="entity.text" name="text" ng-required="true" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_IMAGE' | translate }}</label>
                        <img ng-show="entity.image.base64" ng-src="data:image/JPEG;base64,{{entity.image.base64}}" width="320">
                        <a ng-show="!entity.image.base64" href="#" class="btn btn-white" ngf-select ngf-change="selectImage($files)">{{ 'BUTTON_SELECT' | translate }}</a>
                        <a ng-show="entity.image.base64" uib-tooltip="{{ 'ACTION_TOOLTIP_DELETE' | translate }}" class="btn btn-sm btn-white" ng-click="deleteImage($files)" style="vertical-align: top;" ><i class="fa fa-remove"></i></a>
                    </div>
                </div>
                
		   </form>
		</div>
	</div>
	
	<div class="row" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
            <button ng-click="saveEntity()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'BUTTON_SAVE' | translate }}</button>
        </div>
    </div>
</div>