<div class="row border-bottom">
	<div class="col-sm-12">
		<h1 ng-show="entity != null && entity.id == null">{{ 'HEADER_NKD_ADD' | translate }}</h1>
		<h1 ng-show="entity != null && entity.id != null">{{ 'HEADER_NKD_EDIT' | translate }}</h1>
	</div>
</div>
      
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
		<div class="col-lg-12">
		   <form name="form" class="form-horizontal ng-pristine ng-valid" novalidate>
		       
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_SECTOR' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.sector.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.sector.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.sector" type="text" class="form-control ff-form-control" name="sector" ng-required="true" maxlength="8" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_SECTOR_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.sectorName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.sectorName.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.sectorName" type="text" class="form-control ff-form-control" name="sectorName" ng-required="true" maxlength="512" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_AREA' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.area.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.area.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.area" type="text" class="form-control ff-form-control" name="area" ng-required="true" maxlength="8" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_ACTIVITY' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.activity.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.activity.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.activity" type="text" class="form-control ff-form-control" name="activity" ng-required="true" maxlength="8" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="ff-label">{{ 'LABEL_ACTIVITY_NAME' | translate }}
                            <span class="pull-right"><i style="width: 10px;" ng-class="{ 'fa fa-exclamation-circle m-l-xs ff-invalid' : form.activityName.$invalid, 'fa fa-check-circle m-l-xs ff-valid' : form.activityName.$valid }"></i></span>
                        </label>
                        <input ng-model="entity.activityName" type="text" class="form-control ff-form-control" name="activityName" ng-required="true" maxlength="512" />
                    </div>
                </div>
                
		   </form>
		</div>
	</div>
	
	<div class="row" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white m-r-sm"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
            <button ng-click="saveEntity()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'BUTTON_SAVE' | translate }}</button>
        </div>
    </div>
</div>