<div class="row border-bottom" ng-controller="TopnavbarController">
    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div class="p-sm">
                <div class="ff-logo"></div>
                <div class="ff-main-header m-l-xs">{{ 'HEADER_MAIN' | translate }}</div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <a style="font-weight: normal;" uib-dropdown-toggle><i class="fa fa-language"></i> {{ 'LANGUAGE' | translate }}</a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                    <li><a ng-click="changeLanguage('hr')"><span class="flag-icon flag-icon-hr m-r-xs"></span> {{ 'CROATIAN' | translate }}</a></li>
                    <li><a ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-gb m-r-xs"></span> {{ 'ENGLISH' | translate }}</a></li>
                </ul>
            </li>
            <li class="m-l-sm">
                <label><i class="fa fa-user m-r-xs"></i> {{ principal.username }} [{{ principal.role | translate }}]</label>
            </li>
        </ul>
    </nav>
</div>