<style>
    .panel {
        margin-bottom: 0px; 
    }
    .chosen-container-single {
        width: 100%;
    }
    .chosen-container-single .chosen-single {
        border: 1px solid #e5e6e7;  
    }
    .chosen-container-multi {
        width: 100%;
    }
    .chosen-container-multi .chosen-choices {
        border: 1px solid #e5e6e7;  
    }
    .chosen-container-multi .chosen-choices li.search-field .default {
        width: 100% !important;
        color: #b0b0b0 !important;
    }
</style>

<script type="text/ng-template" id="email-exp.html">
    <div class="ff-grid-extension form-horizontal">
        <div class="col-lg-12 p-xxs">
            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;">
                <div style="padding-left: 10px;" ng-bind-html="toTrusted(row.entity.email.text)"></div>
            </div>
        </div>
    </div>
</script>

<div class="row border-bottom">
    <div class="col-lg-12">
        <h1>{{ 'HEADER_USER_DETAILS' | translate }}</h1>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab> 
                        <uib-tab-heading>{{ 'TAB_USER_DATA' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_FIRST_NAME' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.firstName }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_LAST_NAME' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.lastName }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_EMAIL' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.email }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_CREATION_DATE' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.creationDate | date:dateTimeFormat }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_LAST_LOGIN_DATE' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.lastLoginDate | date:dateTimeFormat }}</div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab> 
                        <uib-tab-heading>{{ 'TAB_COMPANY_DATA' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_COMPANY_NAME' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.company.name }}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ 'LABEL_COMPANY_CODE' | translate }}</label>
                                    <div style="padding-left: 10px;">{{ entity.company.code }}</div>
                                </div>
                            </div>
                            
                            <div class="form-group" ng-repeat="item in entity.company.items" ng-if="!item.metaTag || item.metaTag.indexOf('COMPANY_INVESTMENT_') == -1">
                                <div class="col-sm-12 m-t-sm" style="padding-left: 0px; padding-right: 0px;">
                                    <label class="ff-label">{{ item.text }} <sup ng-if="item.help"><i class="fa fa-question-circle fa-lg" role="button" uib-popover-html="toTrusted(item.help)" popover-append-to-body="true" popover-placement="bottom" popover-trigger="outsideClick"></i></sup></label>
                                    <div ng-if="item.type == 'HYPERLINK'" style="padding-left: 10px;"><a href="{{ item.valueMapped }}" target="_blank">{{ item.valueMapped }}</a></div>
                                    <div ng-if="item.type == 'DATE'" style="padding-left: 10px;">{{ item.value | date:dateFormat }}</div>
                                    <div ng-if="item.type != 'HYPERLINK' && item.type != 'DATE'" style="padding-left: 10px;" ng-bind-html="toTrusted(item.valueMapped)"></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab> 
                        <uib-tab-heading>{{ 'TAB_INVESTMENTS' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 m-t-sm" ng-repeat="investment in entity.investments">
								<div class="panel panel-default">
									<div class="panel-heading">
									   <h4 style="margin-top: 0px; margin-bottom: 0px; color: #676a6c;">{{ investment.name }}</h4>
									</div>
									<div class="panel-body" style="padding: 10px;">
                                        <div class="col-lg-6" style="padding-left: 5px; padding-right: 10px;">
                                            <div class="form-group">
                                                <div class="col-sm-12 m-b-sm" style="padding-left: 0px; padding-right: 0px;">
                                                    <label class="ff-label">{{ 'LABEL_TYPE' | translate }}</label>
                                                    <div style="padding-left: 10px;">{{ investment.investment.name }}</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12 m-b-sm" style="padding-left: 0px; padding-right: 0px;">
                                                    <label class="ff-label">{{ 'LABEL_DESCRIPTION' | translate }}</label>
                                                    <p style="padding-left: 10px; padding-right: 10px; margin-bottom: 0px;" data-ng-bind="investment.description | htmlToPlaintext" class="text-justify"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="padding-left: 10px; padding-right: 5px;">
											<div class="form-group" ng-repeat="(parentIndex, item) in investment.items">
                                                <div class="col-sm-12 m-b-sm" style="padding-left: 0px; padding-right: 0px;">
                                                    <label class="ff-label">{{ item.item.text }}</label>
                                                    <div ng-if="item.item.type == 'CURRENCY'" style="padding-left: 10px;">{{ item.value | currency : "" }} <span ng-if="item.value">{{ item.currency.code }}</span></div>
                                                    <div ng-if="item.item.type == 'SELECT'" style="padding-left: 10px;">{{ item.value.text }}</div>
                                                    <div ng-if="item.item.type == 'ACTIVITY' || item.item.type == 'SUBDIVISION1' || item.item.type == 'SUBDIVISION2'" style="padding-left: 10px;">{{ item.value.name }}</div>
                                                </div>
											</div>
										</div>
									</div>
								</div>
								</div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab> 
                        <uib-tab-heading>{{ 'TAB_MATCHING_TENDERS' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <div class="row">
	                            <div class="col-lg-12 m-t-sm">
	                                <label ng-repeat="tender in entity.company.tenders" class="ff-label">{{ tender.name }}<i uib-tooltip="{{ 'ACTION_TOOLTIP_DETAILS' | translate }}" ui-sref="tenders.details({ id: tender.id })" class="fa fa-lg fa-arrow-circle-right pull-right" style="padding-top: 3px; cursor: pointer;"></i></label>
	                            </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab> 
                        <uib-tab-heading>{{ 'TAB_EMAIL' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <div class="row m-l-xs m-r-xs">
                                <h3>{{ 'HEADER_EMAIL_SEND' | translate }}</h3>
                                <hr style="margin-top: 0px; margin-bottom: 10px;">
                            </div>
                            <div class="row m-l-xs m-r-xs">
                                <div class="input-group m-t-xs" style="width: 100%">
                                    <span class="input-group-addon" style="background: #f8f8f8; width: 100px; text-align: right;">
                                        <small>{{ 'LABEL_SEND_EMAIL_SUBJECT' | translate }}</small>                                               
                                    </span>
                                    <input ng-model="email.subject" type="text" class="form-control ff-form-control" name="emailSubject" ng-required="true" maxlength="512" />
                                </div>
                                <div class="input-group m-t-xs" style="width: 100%">
                                    <span class="input-group-addon" style="background: #f8f8f8; width: 100px; text-align: right;">
                                        <small>{{ 'LABEL_SEND_EMAIL_TEXT' | translate }}</small>                                               
                                    </span>
                                    <textarea ng-model="email.text" rows="5" class="form-control ff-form-control" name="emailText" style="resize: none;" ng-required="true"></textarea>
                                </div>
                                <button ladda="sendingEmail" data-style="zoom-in" ng-disabled="!email.subject || email.subject.length == 0 || !email.text || email.text.length == 0" ng-click="sendEmail()" class="btn btn-primary pull-right m-t-sm"><i class="fa fa-send"></i> {{ 'BUTTON_SEND' | translate }}</button>
                                <button ng-click="resetEmail()" class="btn btn-white pull-right m-t-sm m-r-sm">{{ 'BUTTON_RESET' | translate }}</button>
                            </div>
                            
                            <div class="row m-l-xs m-r-xs">
                                <h3>{{ 'HEADER_EMAIL_HISTORY' | translate }}</h3>
                                <hr style="margin-top: 0px; margin-bottom: 10px;">
                            </div>
                            <div class="row m-l-xs m-r-xs">
                                <div ui-grid="gridOptions4Emails" ui-grid-pagination ui-grid-auto-resize ui-grid-save-state ui-grid-expandable class="grid4Emails m-b-sm">
                                    <div class="grid-msg-overlay" ng-hide="!loading4Emails">
                                        <div class="msg">
                                            <span>
                                                {{ 'UI_GRID_LOADING_DATA' | translate }} <i class="fa fa-spinner fa-spin"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="grid-msg-overlay" ng-hide="loading4Emails || gridOptions4Emails.data.length">
                                        <div class="msg">
                                            <span>{{ 'UI_GRID_NO_DATA' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab ng-if="hasPermission(['users.update'])"> 
                        <uib-tab-heading>{{ 'TAB_BRM' | translate }}</uib-tab-heading>
                        <div class="panel-body">
                            <form name="form" class="form-horizontal ng-pristine ng-valid m-l-md" novalidate>
	                            <div class="row">
		                            <div class="col-sm-4">
	                                    <div class="form-group">
					                        <select chosen class="form-control" width="1" ng-model="entity.businessRelationshipManager" name="businessRelationshipManager" options="businessRelationshipManagers" allow-single-deselect="true" ng-options="(businessRelationshipManager.lastName + ' ' + businessRelationshipManager.firstName) for businessRelationshipManager in businessRelationshipManagers track by businessRelationshipManager.id">
					                           <option value=""></option>
					                        </select>
					                        <small class="ff-postscript">{{ 'LABEL_MAIN' | translate }}</small>
	                                    </div>
	                                </div>
	                                <div class="col-sm-4 m-l-md">
                                        <div class="form-group">
                                            <select chosen class="form-control" width="1" ng-model="entity.businessRelationshipManagerSubstitute" name="businessRelationshipManagerSubstitute" options="businessRelationshipManagers" allow-single-deselect="true" ng-options="(businessRelationshipManager.lastName + ' ' + businessRelationshipManager.firstName) for businessRelationshipManager in businessRelationshipManagers track by businessRelationshipManager.id">
                                               <option value=""></option>
                                            </select>
                                            <small class="ff-postscript">{{ 'LABEL_SUBSTITUTE' | translate }}</small>
                                        </div>
                                    </div>
	                                <div class="col-sm-2">
	                                    <button ng-click="setBusinessRelationshipManager()" class="btn btn-primary"><i class="fa fa-save"></i> {{ 'BUTTON_SAVE' | translate }}</button>
	                                </div>
                                </div>
                                
                                <div class="row m-t-sm" ng-if="entity.businessRelationshipManager.email || entity.businessRelationshipManagerSubstitute.email">
                                    <div class="col-sm-4">
                                        <span ng-if="entity.businessRelationshipManager.email"><i class="fa fa-envelope-o m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManager.email }}</span>
                                    </div>
                                    <div class="col-sm-4 m-l-md">
                                        <span ng-if="entity.businessRelationshipManagerSubstitute.email"><i class="fa fa-envelope-o m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManagerSubstitute.email }}</span>
                                    </div>
                                </div>
                                <div class="row m-t-sm" ng-if="entity.businessRelationshipManager.phone || entity.businessRelationshipManagerSubstitute.phone">
                                    <div class="col-sm-4">
                                        <span ng-if="entity.businessRelationshipManager.phone"><i class="fa fa-phone m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManager.phone }}</span>
                                    </div>
                                    <div class="col-sm-4 m-l-md">
                                        <span ng-if="entity.businessRelationshipManagerSubstitute.phone"><i class="fa fa-phone m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManagerSubstitute.phone }}</span>
                                    </div>
                                </div>
                                <div class="row m-t-sm" ng-if="entity.businessRelationshipManager.mobile || entity.businessRelationshipManagerSubstitute.mobile">
                                    <div class="col-sm-4">
                                        <span ng-if="entity.businessRelationshipManager.mobile"><i class="fa fa-tablet m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManager.mobile }}</span>
                                    </div>
                                    <div class="col-sm-4 m-l-md">
                                        <span ng-if="entity.businessRelationshipManagerSubstitute.mobile"><i class="fa fa-tablet m-r-xs" aria-hidden="true"></i> {{ entity.businessRelationshipManagerSubstitute.mobile }}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
		</div>
	</div>
	
	<div class="row m-t-sm" style="border-top: solid 1px #f0f0f0;">
        <div class="col-lg-12 m-b-sm m-t-sm" style="text-align: right;">
            <button ng-click="back()" class="btn btn-white"><i class="fa fa-angle-double-left"></i> {{ 'BUTTON_BACK' | translate }}</button>
        </div>
    </div>
</div>