<div ng-show="userAuthorized" class="row border-bottom">
	<div class="col-lg-12">
		<h1>
			{{ 'MENU_DASHBOARD' | translate }} <sup ng-if="helpEnabled"><small><i class="fa fa-question-circle" role="button"></i></small></sup>
		</h1>
	</div>
</div>
<div ng-show="userAuthorized" class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title ff-ibox-title">
					<span class="label label-success pull-right">{{ 'DASHBOARD_TOTAL' | translate }}</span>
					<h5>{{ 'DASHBOARD_USERS' | translate }}</h5>
				</div>
				<div class="ibox-content ff-ibox-content">
					<h1 class="no-margins">{{ data.usersRegistered}}</h1>
					<div class="stat-percent" style="text-align: right;">
						<small>
                            <br>{{ data.usersRegisteredExternal }}<span style="width: 50px; display: inline-block;">{{ data.usersRegisteredExternalPercentage }}</span><br>{{ data.usersRegisteredInternal }}<span style="width: 50px; display: inline-block;">{{ data.usersRegisteredInternalPercentage }}</span>
						</small>
					</div>
					<small><br>{{ 'DASHBOARD_REGISTRATION_TYPE_EXTERNAL' | translate }}<br>{{ 'DASHBOARD_REGISTRATION_TYPE_INTERNAL' | translate }}</small>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <span class="label label-warning pull-right">{{ 'DASHBOARD_TOTAL' | translate }}</span>
                    <h5>{{ 'DASHBOARD_VISITS' | translate }}</h5>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <h1 class="no-margins">{{ data.visitsTotal}}</h1>
                    <div class="stat-percent" style="text-align: right;">
                        <small>
                            <br>{{ data.visitsUnique }}<span style="width: 50px; display: inline-block;">{{ data.visitsUniquePercentage }}</span><br>&nbsp;
                        </small>
                    </div>
                    <small><br>{{ 'DASHBOARD_UNIQUE' | translate }}<br>&nbsp;</small>
                </div>
            </div>
        </div>
		<div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <span class="label label-primary pull-right">{{ 'DASHBOARD_TOTAL' | translate }}</span>
                    <h5>{{ 'DASHBOARD_TENDERS' | translate }}</h5>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <h1 class="no-margins">{{ data.tenders}}</h1>
                    <div class="stat-percent" style="text-align: right;">
                        <small>
                            <br>{{ data.tendersActive }}<span style="width: 50px; display: inline-block;">{{ data.tendersActivePercentage }}</span><br>{{ data.tendersInactive }}<span style="width: 50px; display: inline-block;">{{ data.tendersInactivePercentage }}</span>
                        </small>
                    </div>
                    <small><br>{{ 'DASHBOARD_ACTIVE' | translate }}<br>{{ 'DASHBOARD_INACTIVE' | translate }}</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <span class="label label-danger pull-right">{{ 'DASHBOARD_TOTAL' | translate }}</span>
                    <h5>{{ 'DASHBOARD_PROJECTS' | translate }}</h5>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <h1 class="no-margins">{{ data.projects}}</h1>
                    <div class="stat-percent" style="text-align: right;">
                        <small>
                            <br>{{ data.projectsValueTotal | currency : "" }} {{ data.currency }}<br>{{ data.projectsValueAvg | currency : "" }} {{ data.currency }}
                        </small>
                    </div>
                    <small><br>{{ 'DASHBOARD_TOTAL_VALUE' | translate }}<br>{{ 'DASHBOARD_AVERAGE_VALUE' | translate }}</small>
                </div>
            </div>
        </div>
	</div>
	<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title ff-ibox-title">
                    <h5>Trendovi</h5>
                    <!--  
					<div class="btn-group pull-right m-l-lg">
						<button type="button" class="btn btn-xs btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip-placement="top-right" uib-tooltip="{{ 'ACTION_TOOLTIP_EXPORT' | translate }}">
							<i class="fa fa-lg fa-download" role="button"></i> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a ng-click="exportPDF()">{{ 'BUTTON_EXPORT' | translate }} {{ 'TO_PDF' | translate }}</a></li>
						</ul>
					</div>
					-->
					<div class="pull-right">
                        <span class="m-r-xs">{{ 'DASHBOARD_CHART_PERIOD' | translate }}:</span>
                        <div class="btn-group">
                            <label ng-change="change()" class="btn btn-xs btn-white" ng-model="period" uib-btn-radio="'daily'">{{ 'STATISTICS_PERIOD_LAST_7_DAYS' | translate }}</label> 
                            <label ng-change="change()" class="btn btn-xs btn-white" ng-model="period" uib-btn-radio="'monthly'">{{ 'STATISTICS_PERIOD_LAST_6_MONTHS' | translate }}</label> 
                        </div>
                    </div>
                    <div class="pull-right m-r-xl">
                        <span class="m-r-xs">{{ 'DASHBOARD_CHART_DIMENSION' | translate }}:</span>
                        <div class="btn-group">
                            <label ng-change="change()" class="btn btn-xs btn-white" ng-model="type" uib-btn-radio="'users'">{{ 'DASHBOARD_USERS' | translate }}</label> 
                            <label ng-change="change()" class="btn btn-xs btn-white" ng-model="type" uib-btn-radio="'visits'">{{ 'DASHBOARD_VISITS' | translate }}</label>
                            <label ng-change="change()" class="btn btn-xs btn-white" ng-model="type" uib-btn-radio="'tenders'">{{ 'DASHBOARD_TENDERS' | translate }}</label>
                        </div>
                    </div>
                </div>
                <div class="ibox-content ff-ibox-content">
                    <div id="trendsChart" class="row p-xs">
                        <div class="col-lg-12">
                            <div class="flot-chart">
                                <div flot class="flot-chart-content" dataset="flotData" options="flotOptions"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>